@charset "ISO-8859-1";

.header {
  background-color: #4CAF50; color: white; 
  margin: 8px 0;padding: 0 20px; 
  border: 1px double #ccc; box-sizing: border-box; 
  border-radius: 20px;
}

.container {
  margin: 20px 5px;
  padding: 16px 20px; 
  background-color:#E2F3FC
}

.submit {
  border: 1px double #ccc; box-sizing: border-box;
  padding: 5px 0; text-align:center;
  background-color: #C2E5F8; width: 7.5%
}

.error {
  color: #EE3E1E;
}